html, body {
    margin: 0;
    height: 100%;
}

.container {
    background-color: rgb(243, 243, 243);
    height: 100%;
    overflow: auto;
}

.todoapp {
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    width: 900px;
    height: auto;
    overflow: auto;
    padding-bottom: 100px;
    margin-top: 50px;
    background-color: white;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    color: rgb(195,214,155);
}

.new-todo {
    display: block;
    margin: 0 auto;
    padding: 16px 16px 16px 30px;
    border: 1px solid rgb(180, 180, 180);
    font-size: 1em;
    width: 600px;
    height: 15px;
}

.new-todo::placeholder {
    color: rgb(200, 200, 200);
    font-style: italic;
}

.main {
    padding-top: 50px;
}

.main > div p {
    text-align: center;
    font-size: 0.8em;
    color: rgb(180, 180, 180);
    padding-bottom: 20px;
}

.doing {
    float: left;
    box-sizing: border-box;
    width: 50%;
    border-right: 1px solid rgb(200, 200, 200);
} 

.done {
    float: left;
    box-sizing: border-box;
    width: 50%;
    margin-left: -1px;
    border-left: 1px solid rgb(200, 200, 200);
}

.doing-list, .done-list {
    list-style: none;
    color: rgb(180, 180, 180);
    padding-bottom: 15px;
}

.main li {
    border-bottom: 1px solid rgb(200, 200, 200);
    font-size: 1em;
    margin-right: 50px;
    margin-bottom: 3px;
    padding: 5px 0px 10px 8px;
}

.main li label {
    display: inline;
    word-break: break-all;
    padding-left: 5px;
}

.main li .star {
    line-height: 18px;
    margin-left: -10px;
    margin-right: -7px;
    font-size: 1.4em;
    border: 0;
    transition: color 0.2s ease-out;
    background: none;
    color: rgb(200, 200, 200);
}

.main li .star:focus {
    border: none;
    outline: none;
}

.main li .star:hover {
    color: orange;
}

.main li .destroy {
    display: none;
    float: right;
    margin-right: 10px;
    margin-top: -7px;
    color: rgb(195,214,155);
    font-size: 1.5em;
    transition: color 0.2s ease-out;
    background: none;
    border: 0;
}  

.main .done-list li .destroy {
    display: none;
    float: right;
    margin-right: 10px;
    margin-top: -7px;
    color: rgb(195,214,155);
    font-size: 1.5em;
    transition: color 0.2s ease-out;
    background: none;
    border: 0;
}   

.main li .destroy:focus {
    border: none;
    outline: none;
}

.main li .destroy:hover {
    color: olivedrab;
}

.main li .destroy::after {
    content: ' x ';
}

.main li:hover .destroy {
    display: inline-block;
}

.done-list li label {
    text-decoration: line-through;
}

.footer {
    clear: both;
    text-align: center;
    padding-top: 7px;
    font-size: 0.8em;
    color: rgb(180, 180, 180);
}